.button-component {
    position: relative;
    
}

.button {
    display: flex;
    padding: 8px 16px;
    border: 1px solid #000;
    width: 200px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
}

.button:hover {
    background-color: inherit;
    color: black;
  }